# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.1'
          check-latest: true

      - name: Make generate
        run: make generate

      - name: Lint
        run: make lint

      - name: Test
        run: go test -v ./...

      - name: Build darwin-amd64
        run: GOOS=darwin GOARCH=amd64 go build -v ./cmd/portfoliodownloader/public

      - name: Build darwin-arm64
        run: GOOS=darwin GOARCH=arm64 go build -v ./cmd/portfoliodownloader/public

      - name: Build windows-386
        run: GOOS=windows GOARCH=386 go build -v ./cmd/portfoliodownloader/public

      - name: Build windows-amd64
        run: GOOS=windows GOARCH=amd64 go build -v ./cmd/portfoliodownloader/public

      - name: Build linux-386
        run: GOOS=linux GOARCH=386 go build -v ./cmd/portfoliodownloader/public

      - name: Build linux-amd64
        run: GOOS=linux GOARCH=amd64 go build -v ./cmd/portfoliodownloader/public

      - name: Build linux-arm64
        run: GOOS=linux GOARCH=arm64 go build -v ./cmd/portfoliodownloader/public
